<div class="nav-area">
  <a routerLink="/summary/analyzer/{{dateList['past_date']}}" (click)="changeCurrentDate(dateList['past_year'], dateList['past_month'])">＜＜ [ {{dateList['past_date']}} ]</a>
  &nbsp;|&nbsp;&nbsp;[ {{dateList['current_date']}} ]
  &nbsp;|&nbsp;&nbsp;<a routerLink="/summary/analyzer/{{dateList['next_date']}}" (click)="changeCurrentDate(dateList['next_year'], dateList['next_month'])">[ {{dateList['next_date']}} ] ＞＞</a>
  &nbsp;|&nbsp;&nbsp;<a routerLink="/summary/report/{{dateList['current_date']}}">[ この月の予定&実績集計ページへ ]</a>
</div>
<h1 class="content-title">{{dateList['current_year']}}年{{dateList['current_month']}}月 詳細解析情報</h1>

<div class="row">
  <div class="col-sm-4 text-right">
    <b>シンプルなモーダル: </b>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-default btn-block" (click)=showConfirm()>確認する</button>
  </div>
  <div class="col-sm-4" *ngIf="confirmResult != null">
    <span>返答: </span>
    <b [ngClass]="{'text-danger': !confirmResult, 'text-success': confirmResult}">{{confirmResult ? 'はい': 'いいえ'}}</b>
  </div>
</div>


<!-- loader module -->
<div id="condition_area">
  <button class="btn btn-dark btn-block col-sm-4 " (click)="loading($event)" [disabled]="isLoading">Analyze!!</button>
</div>
<div id="contents_area" class="hide" *ngIf="isResult">
  <p>ロード完了！！</p>
</div>
<div id="loading_area" *ngIf="isLoading">
  <div class="loader">
    <img class="loader-img" src="assets/load.gif" alt="Now Loading..." />
    <span class="loader-label">Now Loading...</span>
  </div>
</div>
