.nav-area {
  font-size: 12px;
  margin: 5px 0 0 0;
}
.nav-link-left {
  text-decoration:none;
}
.nav-link-right {
  text-decoration:none;
  float: right;
}
.content-title {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #eeeeee;
}
.back-link {
  font-size: 11px;
  mergin: 0 0 3px 0;
}
