.nav-area {
  font-size: 12px;
  margin: 5px 0 0 0;
}
.nav-link-left {
  text-decoration:none;
}
.nav-link-right {
  text-decoration:none;
  float: right;
}
.content-title {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #eeeeee;
}
.analyzer-link {
  font-size: 11px;
  mergin: 0 0 3px 0;
}

.report-total {
  padding: 0 0 5px 0;
  font-size: 12px;
  width: 100%;
}
.report-total span {
  font-weight: bold;
}

.report-viewer {
  padding: 5px 0 0 0;
  width: 100%;
}

.save_btn {
  float: right;
  font-size: 12px;
  padding: 3px 15px 3px 15px;
}

.editor-option-label {
  font-size: 9px;
  margin: 0px;
  padding: 5px 0 5px 3px;
  border: darkgrey solid 1px;
  width: 100%;
}
.save-state {
  color: red;
}
