<div class="information_area">
  <h2 class="topic_title">作業詳細(仮)へようこそ</h2>
  <div>
    <span class="topic">＞＞機能説明</span><br/>
    ・<a routerLink="/schedule/editor" routerLinkActive="active">日報入力</a><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;特定日の日報入力をするためのページ<br/>
    ・<a routerLink="/summary/report" routerLinkActive="active">月次集計</a><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;特定月の集計結果確認、作業予定の入力をするためのページ<br/>
    ・<a routerLink="/summary/analyzer" routerLinkActive="active">月次集計(データ解析)</a><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;特定月の集計データを解析するページ、グラフ表示など<br/>
    ・<a routerLink="/config" routerLinkActive="active">設定管理</a><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;データのバックアップ、復元。登録モードの変更など、設定管理ページ<br/>
    ・<a routerLink="/config/storage" routerLinkActive="active">ストレージデータ管理</a><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;localStorageに関する管理ページ<br/>
  </div>
</div>
