.modal-header {
  height: 45px;
  margin: 0 0 15px 0;
  & .title {
    font-size: 18px;
    font-weight: bold;
  }
}
.condition_area {
  .condition_btn {
    margin: 0 15px 0 5px;
    & button {
      font-size: 9px;
    }
  }
}
.control_link {
  margin: 0 10px 0 10px;
  font-size: 12px;
  & a {
    font-size: 11px;
  }
  & .fr {
    float: right;
    & :after {
      clear: both;
    }
  }
}
.history_area {
  min-height: 300px;
  margin: 0 10px 0 10px;
  font-size: 12px;
  & .history_dummy {
    padding: 3px 0 0 0;
  }
  & .title {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border-bottom: darkgray solid 1px;
  }
  .history_list {
    .check {
      &.header {
        width: 65px;
        text-align: center;
        padding: 0 10px 0 0;
        border-bottom: 1px solid darkgrey;
        & label {
          margin: 0 0 0 0;
        }
      }
      &.item {
        text-align: center;
        padding: 6px 10px 0 0;
        border-bottom: 1px solid #dddddd;
      }
    }
    .tag {
      &.header {
        min-width: 100px;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid darkgrey;
      }
      &.item {
        padding: 0 10px 0 0;
        border-bottom: 1px solid #dddddd;
      }
    }
  }
}
.modal-footer {
  margin: 10px 0 0 0;
  & button {
    font-size: 9px;
  }
}
