.backlink {
  font-size: 12px;
}
.content-title {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #eeeeee;
}
.data-area {
  margin: 0 0 10px 0;
  padding: 0;
}
.list-label {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: lightcyan;
}
.list-item-label {
  margin: 0 0 0 5px;
  padding: 5px 0 0 0;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.storage-item {
  margin: 0 10px 0 15px;
  padding: 0 0 2px 0;
  font-size: 12px;
  display: inline;
  border-bottom: 1px solid #6c757d;
}
.storage-item a {
  margin: 0 0 0 0;
  padding: 0 5px 0 5px;
  text-decoration: none;
}
.sub-btn {
 margin: 0 0 0 10px;
}
.no-result {
  margin: 0 0 0 10px;
  padding: 5px 0 0 0;
  font-size: 14px;
}
.information_area {
  padding: 0 0 5px 5px;
  font-size: 14px;
}
