.content-title {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #eeeeee;
}
.editor-input {
  padding: 5px 0 0 0;
  font-size: 10px;
  width: 100%;
}
.editor-total {
  padding: 0 0 5px 0;
  font-size: 12px;
  width: 100%;
}
.editor-total span {
  font-weight: bold;
}
.information_red {
  color: red;
}

.nav-area {
  font-size: 12px;
  margin: 5px 0 0 0;
}
.nav-link-left {
  text-decoration:none;
}
.nav-link-right {
  text-decoration:none;
  float: right;
}

.controll-panel {
  padding-top: 5px;
}
.controll-panel button {
  padding: 2px 5px;
  font-size: 14px;
  width: 100px;
}

.block-title {
  margin: 10px 0 0 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #eeeeee;
}
.editor-viewer {
  padding-top: 5px;
  font-size: 12px;
  width: 100%;
}

.save_btn {
  font-size: 12px;
  padding: 3px 15px 3px 15px;
}
.add_btn {
  float: right;
  font-size: 12px;
  padding: 3px 15px 3px 15px;
}
.editor-option {
  font-size: 10px;
  margin: 3px 0 0 0;
  padding: 5px 0 0 0;
}
.editor-option-label {
  margin: 0px;
  padding: 5px 0 5px 3px;
  border: darkgrey solid 1px;
  width: 100%;
}
.save-state {
  color: red;
  padding: 0 10px 0 0;
}
