.content-title {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #eeeeee;
}
.menu-title {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: lightcyan;
}
.config-title {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}
.menu-text {
  padding: 0 5px 0 5px;
  font-size: 12px;
}
.save_btn {
  margin: 10px 0 0 0;
  padding: 5px 10px 5px 10px;
  font-size: 10px;
}
.notice-info {
  margin: 0 0 10px 0;
  font-size: 8px;
  color: red;
}
